.cart-container {
    height: 91vh;
    .order-summary {
        display: flex;
        height: 100%;
        // left side of page (cart)
        .order-summary_cart {
            width: 80%;
            border-right: 2px solid #eee;
            height: 100%;
            h2 {
                margin: 0;
                padding: 2% 0;
            }
            .order-summary_shoe {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 10%;
                border: 1px solid black;
                margin: 2% 5%;
                img {
                    max-width: 300px;
                    background: #eee;
                }

                .order-summary_quantity {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    svg {
                        cursor: pointer;
                    }
                }

                .order-summary_delete {
                    background: none;
                    border: none;
                    background: #000;
                    color: white;
                    padding: 3% 8%;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 400ms ease-out;

                    &:hover {
                        color: black;
                        background: white;
                        border: 2px solid black;
                        box-shadow: 4px 4px 8px rgba(0,0,0,0.25);
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        // right side of page (total)
        .order-summary_total {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;

            .total-item-price, .total-summary {
                display: flex;
                width: 100%;
                justify-content: space-around;
            }

            .total-summary {
                font-weight: bold;
            }
        }
    }
}